.accounts-list-item {
  @extend .content-box;
  margin-bottom: 10px;

  .actions {
    margin-top: 20px;
  }

  h4 {
    .label {
      padding: 5px;
    }
  }
}

.selected-account-list-item {
  @extend .content-box;
  margin-bottom: 10px;

  .my-checkbox {
    padding: 5px 12px 2px 12px;
    border: 1px solid #ccc;

    &:hover {
      border-color: #909090;
      cursor: pointer;
    }
  }
  .actions {
    float: right;
  }
  .email {
    font-size: 18px;
  }
}
