.address-list {
  .address-list-item {
    margin-bottom: 10px;
    @extend .content-box;

    &.selectable {
      &:hover {
        border-color: #909090;
        cursor: pointer;
      }
    }

    &.selected {
      border: 2px solid #777;
    }
  }
}

.selected-address {
  .address-list-item {
    @extend .content-box;
    margin-bottom: 10px;

    &.selected {
      border: 2px solid #777;
    }
  }
}
