.compilations-list {
  .compilations-list-item {
    @extend .content-box;

    margin-bottom: 10px;
    display: block;
    text-decoration: inherit;
    color: inherit;

    h3 { margin-top: 0; }

    .actions {
      margin-top: 10px;
    }
  }
}
