.compilation-header {
  background: #FFF;
  padding: 10px 0;
  height: 125px;

  .thumb {
    margin-right: 10px;
    display: inline-block;
    position: absolute;

    img {
      height: 105px;
      vertical-align: inherit;
    }
  }

  .details {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 100%;


    h1 {
      margin: 0;
      margin-bottom: 5px;
    }
    h3 {
      margin: 0;
      margin-bottom: 8px;
      font-size: 18px;
    }
    .meta-data {
      font-size: 14px;
      color: #888;

      .badge {
        background-color: $primary-color;
        font-weight: 400;
        line-height: 15px;
      }
    }
  }
}
.cover-preview {
  border: 1px solid #CCC;
  background: #EEE;
  padding: 10px 0;

  .template {
    text-align: center;

    .wrapper {
      border: 1px solid #CCC;
      margin: auto;
    }
  }
}

.compilation-header-notice {
  background-color: $primary-color;
  width: 100%;
  text-align: center;
  color: #FFF;
  padding: 5px;
  font-size: 18px;
  font-weight: 300;
}
