.compilations-list {
  .compilations-list-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    display: block;
    text-decoration: inherit;
    color: inherit;

    h3 { margin-top: 0; }

    .actions {
      margin-top: 10px;
    }
  }
}
