.emails-list {
  .list-item {
    border: 1px solid #ccc;
    padding: 3px 5px;
    margin: 3px 0;
    text-decoration: inherit;
    color: inherit;
    display: block;

    &:hover {
      cursor: pointer;
      border-color: #909090;
    }

    .date {
      color: #929292;
      margin-top: 2px;
    }

    &.filtered-emails-list-item {
      &.previewing {
        border: 2px solid #777;
      }

      &.disabled {
        background-color: #CCC;
      }

      .selected-icon {
        margin-right: 3px;
      }
    }
    &.compilation-emails-list-item {
      &.current {
        border: 2px solid #777;
      }

      .subject {
        font-size: 16px;
        margin: 3px 0;
      }
    }
  }
}
