.home {
  .banner {
    height: 600px;
    width: 100%;
    background-color: #000;
    // background-image: url('http://localhost:8000/img/book.jpg');
    background-image: url('/img/book.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    // background-attachment: fixed;

    display: flex;
    flex-direction: row;
    align-items: center;

    .content {
      padding: 40px;
      color: #fff;
      // background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
      border: 2px solid #fff;

      h1 {
        font-size: 50px;
        margin-top: 0;
        margin-bottom: 30px;
      }

      p {
        font-size: 16px;
        margin-bottom: 30px;
      }
    }
  }

  .details {
    padding-bottom: 80px;
    h1 {
      margin: 60px 0;
    }

    .item {
      padding: 20px;
      border: 2px solid #777;

      h1 {
        font-size: 40px;
        margin: 10px 0 20px 0;
        text-align: center;
      }

      .icon {
        text-align: center;
        // border: 2px solid #000;
        // -webkit-border-radius: 50%;
        // -moz-border-radius: 50%;
        // border-radius: 50%;
        // display: inline;
        font-size: 50px;
        padding: 10px;
        margin-bottom: 30px;
      }

      p {
        font-size: 16px;
      }
    }
  }
}
