.orders-list {
  .orders-list-item {
    @extend .content-box;
    margin-bottom: 10px;
    display: block;
    text-decoration: inherit;
    color: inherit;

    &:hover {
      border-color: #909090;
      cursor: pointer;
    }
  }
}
