.pages-list {
  border-top: 1px solid #ccc;

  .compilation-pages-list-item {
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    padding: 3px 5px;
    text-decoration: inherit;
    color: inherit;
    display: block;
    position: relative;

    &:hover {
      cursor: pointer;
      background-color: #fafafa;
    }

    &.current {
      border: 2px solid #777;
    }

    &.loud {
      color: #fff;
      background-color: rgba(92,184,92,0.8);
      border: 1px solid rgba(92,184,92,0.8);

      .type {
        color: #f1f1f1;
      }
    }

    .page-thumb-helper-text {
      font-family: "Libre Baskerville", serif;
      color: #888;
      font-size: 13px;
    }
  }
}
