.progress-header {
  background: #eee;
  padding: 20px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  box-shadow: inset 0 0px 20px rgba(0,0,0,.1);
  -webkit-box-shadow: inset 0 0px 20px rgba(0,0,0,.1);
  -moz-box-shadow: inset 0 0px 20px rgba(0,0,0,.1);
  text-align: center;

  .nav-icon {
    background: #fff;
    border-radius: 50%;
    font-size: 20px;
    border: 3px solid $primary-color;
    padding: 20px 24px;
    display: inline-block;
    margin-bottom: 7px;

    &:hover {
      cursor: pointer;
      color: darken($primary-color, 10%);
    }
  }

  .wizard {
    text-align: center;
    display: inline-block;
    .item {
      width: 155px;
    }
  }

  .item {
    display: inline-block;
    color: $primary-color;

    &.active {
      .icon {
        background: $primary-color;
        color: #fff;

        &:hover {
          cursor: pointer;
          color: #fff;
          background: darken($primary-color, 10%);
          border: 3px solid darken($primary-color, 10%);;
        }
      }
    }

    .icon {
      background: #fff;
      border-radius: 50%;
      font-size: 20px;
      border: 3px solid $primary-color;
      padding: 20px 24px;
      display: inline-block;
      margin-bottom: 7px;
      z-index: 1;
      position: relative;

      &:hover {
        cursor: pointer;
        color: darken($primary-color, 10%);
      }
    }

    .text {
      font-size: 16px;

      &:hover {
        cursor: pointer;
      }
    }
  }
  .spacer {
    border-bottom: 3px solid #4C8EFF;
    position: relative;
    width: 400px;
    margin: auto;
    top: -66px;
    z-index: 0;
  }

  .action-spacer {
    display: inline-block;
    width: 74px;
  }
}
