@import 'header';
@import 'footer';
@import 'email-form';
@import 'accounts-list';
@import 'addresses';
@import 'compilations-list';
@import 'emails-list';
@import 'pages-list';
@import 'cart';
@import 'card';
@import 'orders';
@import 'home';

.right-bumper { margin-right: 10px; }
.left-bumper { margin-left: 10px; }
.top-bumper { margin-top: 10px; }
.bottom-bumper { margin-bottom: 10px; }
.text-bold { font-weight: bold; }
.no-margin { margin: 0; }
.padded-box {
  padding: 20px;
  border: 1px solid #CCC;
}

.centerize { text-align: center;}
.editable { border: 1px solid #CCC; }
.icon-loading > .loading {
  position: relative;
  top: 2px;
  margin-right: 2px;
  width: 16px;
}
.selected-icon > .selectable { width: 16px; }
.button-loading > .loading {
  height: 15px;
  margin-left: 5px;
  position: relative;
  top: 2px;
}
.alone-button-loading > .loading {
  height: 15px;
  position: relative;
  top: 2px;
}
.outside-button-loading > .loading {
  height: 21px;
  margin-left: 5px;
  position: relative;
  top: 6px;
}
.alone-loading > .loading {
  height: 30px;
}

h1 > .loading {
  height: 30px;
  position: relative;
  top: 3px;
}

.loading {
  width: inherit;
  height: inherit;
  svg {
    width: inherit;
    height: inherit;
  }
  span {
    width: inherit;
    height: inherit;
  }
}

.nav {
  li {
    .action {
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.pdf {
  width: 100%;
  height: 700px;
  border: 1px solid #ccc;
}

.email-view {
  padding: 50px;
  border: 1px solid #ccc;
}

.compilation-page {
  padding: 50px;
  border: 1px solid #ccc;
}

.btn.half-left {
  width: 48%;
  margin-right: 2%;
  margin-left: 0;
  display: inline-block;
}

.btn.half-right {
  width: 48%;
  margin-left: 2%;
  margin-right: 0;
  display: inline-block;
}

.compilation-log-entry {
  font-size: 12px;

  &.latest {
    font-weight: bold;
  }
}
.account-kind-options {
  margin: 40px 0 30px 0;
}
.account-kind-option {
  color: #000;
  display: inline-block;
  text-align: center;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  width: 100%;
  padding: 30px;
  line-height: 1.9em;
  font-size: 1.9em;

  .icon {
    line-height: 1.25em;
  }

  img {
    width: 100%;
  }

  &.selected {
    border: 2px solid #777;
    font-weight: bold;
  }

  &:hover {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    border-color: #909090;
  }

  &:active { color: #000; text-decoration: none; }
  &:visited { color: #000; text-decoration: none; }
  &:link { color: #000; text-decoration: none; }
}

.list-header {
  font-weight: bold;
  margin-bottom: 5px;
}

.checkout-summary {
  border: 1px solid #ccc;
  padding: 10px;
}

.box {
  border: 1px solid #ccc;
  padding: 10px;
}
.list-item {
  .type {
    font-size: 10px;
    color: #929292;
  }
}
.help {
  border: 1px solid #ccc;
  padding: 30px;

  h1 {
    margin-bottom: 20px;
    font-size: 16px;
  }
  p { margin-bottom: 20px; }
}

.pdf-page {
  margin-bottom: 10px;
  border: 1px solid #ccc;

  canvas {
    width: 100%;
    padding: 1px;
  }

  .page-num {
    text-align: center;
    position: relative;
    height: 0;
    top: -36px;
    line-height: 0;
  }

  .actions {
    position: relative;
    height: 0;
    top: 15px;
    left: 15px;
  }
}

.nav-tabs>li.loud-nav>a, .nav-tabs>li.loud-nav>a:focus, .nav-tabs>li.loud-nav>a:hover {
    color: #fff;
    background-color: rgba(92,184,92,0.8);
    // background-color: #5cb85c;
}
.loud {
  color: #fff;
  background-color: rgba(92,184,92,0.8);
}
.text-loud {
  color: rgba(92,184,92,0.8);
}
.h3-header-helper {
  font-size: 16px;
}

.nav-tabs>li.disabled>a, .nav-tabs>li.disabled>a:focus, .nav-tabs>li.disabled>a:hover {
    border: none;
}
.component-list {
  .list-item-actions {
    position: absolute;
    width: 100%;
    text-align: right;
    padding: 8px 38px 0 0;

    .btn {
      margin-right: 0;
      margin-left: 5px;
      padding: 6px 10px;
    }
  }
}
.list-bumper {
  height: 96px;
}
.compilation-nav {
  border-bottom: 1px solid #ddd;
  .container { position: relative; top: 1px; }
}
.tab-content {
  border: 1px solid #ddd;
  border-top: 0;
  padding: 15px;
  position: relative;
  top: -1px;
}
.hdash {
  border-bottom: 1px solid;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.dashboard-nav {
  height: 100%;
  position:absolute;
  padding: 0;

  .nav {
    li {
      width: 100%;
    }
  }
}

.label {
  padding: 14px;
  font-weight: 300;
  font-size: 12px;
}
input {
  &.basic {
    min-height: inherit;
    margin-bottom: 0;
  }
}
.btn {
  &.basic {
    padding-left: inherit;
    padding-right: inherit;
    padding-top: inherit;
    padding-bottom: inherit;
  }

  &.btn-xs-true {
    padding: 2px 4px;
    margin-right: 0;
  }
}

.my-checkbox {
  padding: 5px 12px 2px 12px;
  border: 1px solid #ccc;

  &.checked {
    padding: 5px 6px 2px 6px;;
  }

  &:hover {
    border-color: #909090;
    cursor: pointer;
  }
}

.btn-h {
  padding: 1px 5px;
}
.margin-topless {
  margin-top: 0;
}
.unscrollable {
  overflow: hidden;
}
.right-most {
  margin-right: 0;
}

.filter-result-info {
  display: inline-block;
  padding-top: 5px;
  margin: 0 5px;
}
.navresults {
  .pager {
    margin: 10px 0;
  }
}

.fixed-footer {
  border-top: 1px solid #ccc;
  text-align: left;
  position:fixed;
  left:0px;
  bottom:0px;
  padding: 10px 0;
  width:100%;
  background: #fff;
  z-index: 1;
}

/* IE 6 */
* html .fixed-footer {
   position:absolute;
   top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}
