@import 'header';

.right-bumper { margin-right: 10px; }
.left-bumper { margin-left: 10px; }
.top-bumper { margin-top: 10px; }
.bottom-bumper { margin-bottom: 10px; }

.editable { border: 1px solid #CCC; }
