@import 'header';
@import 'email-form';
@import 'accounts-list';
@import 'compilations-list';
@import 'emails-list';
@import 'pages-list';

.right-bumper { margin-right: 10px; }
.left-bumper { margin-left: 10px; }
.top-bumper { margin-top: 10px; }
.bottom-bumper { margin-bottom: 10px; }

.centerize { text-align: center;}
.editable { border: 1px solid #CCC; }

.nav {
  li {
    .action {
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.pdf {
  width: 100%;
  height: 700px;
  border: 1px solid #ccc;
}

.email-view {
  padding: 50px;
  border: 1px solid #ccc;
}

.compilation-page {
  padding: 50px;
  border: 1px solid #ccc;
}

.btn.half-left {
  width: 48%;
  margin-right: 2%;
  display: inline-block;
}

.btn.half-right {
  width: 48%;
  margin-left: 2%;
  display: inline-block;
}
