@font-face {
  font-family: 'Pacifico', cursive;
  src: url("https://fonts.googleapis.com/css?family=Pacifico") format("woff");
}

@font-face {
  font-family: 'Ranchers', cursive;
  src: url("https://fonts.googleapis.com/css?family=Ranchers") format("woff");
}

@font-face {
  font-family: 'Gloria Hallelujah', cursive;
  src: url("https://fonts.googleapis.com/css?family=Gloria+Hallelujah") format("woff");
}
