.postcard-back {
  position: relative;

  .safe-area {
    position: absolute;
    width: 94%;
    height: 94%;
    left: 3%;
    top: 3%;

    .content-wrapper {
      position: absolute;
      width: 40%;
      height: 100%;

      .content {
        height: 100%;
        padding: 3% 3% 3% 2%;
        display: flex;
        align-items: center;
      }
    }
    .no-content-wrapper {
      position: absolute;
      left: 40%;
      width: 60%;
      height: 100%;

      .logo {
        height: 32%;
      }
      .ink-free {
        background: #CCC;
        height: 68%;
      }
    }
  }
}
.postcard-back-preview {
  border: 1px solid #CCC;
}
.back-text {
  width: 100%;
}
