@import url(https://fonts.googleapis.com/css?family=Lato:400,300,900,100,700);

body {
  font-family: 'Lato', sans-serif;
  background-color: #fff;

}

.navbar-brand {
	font-weight: 900;
	text-transform: uppercase;
	font-size: 16px;
	color: white;
}

.landing.navbar-inverse .navbar-brand {
    color: #ddd;
}

.landing.navbar-inverse {
	background-color: transparent;
	border: 0px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.mt-main {
	margin-top: 120px;
}

.mt-row {
	margin-top: 80px;
	margin-bottom: 80px;
}

#headerwrap {
  background-color: #777;
	background: url(../img/reader.jpg) no-repeat center top;
	padding-top: 180px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 700px;
	width: 100%;
	color: white;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
	font-weight: 100;
	font-size: 70px;
}

#headerwrap h2 {
	color: #ddd;
	font-size: 22px;
	font-weight: 300;
}

.btn {
	margin-right: 15px;
	padding-left: 18px;
	padding-right: 18px;
	padding-top: 12px;
	padding-bottom: 12px;
	font-weight: 300;
}

.btn-transparent {
	background-color: transparent;
	border: 1px solid white;
	color: white;
}

.btn-transparent:hover {
	background-color: white;
	border: 1px solid white;
	color: #010101;
}

h3 {
	font-weight: 300;
}

p {
	font-weight: 300;
}

#gwrap {
	background-color: #fbfcfe;
	padding-top: 60px;
	padding-bottom: 60px;
	border-top: 1px solid #eff0f2;
	border-bottom: 1px solid #eff0f2;
	width: 100%;
}

#gwrap .mac {
	padding-left: 0px;
	margin-left: 0px !important;
}

#blackwrap {
	background-color: #272729;
	padding-top: 60px;
	padding-bottom: 60px;
	border-top: 1px solid #eff0f2;
	width: 100%;
	color: white;
}

#blackwrap h2 {
	color: white;
	font-weight: 100;
	text-align: center;
	margin-bottom: 30px;
}

.block {
	background-color: #ffffff;
	border-radius: 5px;
	color: black;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 40px;
	padding-bottom: 40px;
	margin: 10px;
	text-align: center;
}

.block .fa {
	color: #2cce78;
	font-size: 22px;
}

.block h4 {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	margin-bottom: 20px;
}

.block p {
	font-weight: 300;
	font-size: 14px;
}

input {
	font-size: 18px;
	border-radius: 40px;
	line-height: 24px;
	padding: 16px 30px 20px;
	border: none;
	margin-bottom: 10px;
	background-color: #e9f0f2;
	-webkit-transition: background-color 0.2s;
	transition: background-color 0.2s;
}

.subscribe-input {
	float: left;
	width: 70%;
	text-align: left;
}

.subscribe-submit {
	position: absolute;
	right: 0;
	padding-left: 28px;
}

/* Button used in the footer - contact form */
.btn-submit {
	color: #fff;
	font-size: 18px;
	min-height: 60px;
	border-radius: 40px;
	text-decoration: none;
	display: inline-block;
	line-height: 24px;
	padding: 16px 20px 20px;
	z-index: 1;
	position: relative;
	border: none;
	background: #2cce78;
}

.big-price {
  text-align: center;
  font-size: 150px;
  font-weight: 200;
  line-height: 150px;
  margin: 10px 0 40px 0;
}

.price-book {
  font-size: 80px;
  margin: 20px 0 10px 0;
}
